{
  "nsec": "nsec1XXXXXXXXXXXXXX",
  "post_to_relays": true,
  "relays": [
    "wss://relay.hitchwiki.org"
  ],
  "hw_interval": 300,
  "hitch_interval": 86400,
  "secret_hitchwiki_url": "http://hitchwiki-other-access.example.net"
}
